{%
    set contactsGallery1 = [
        'contacts-1-1.jpg', 'contacts-1-2.jpg', 'contacts-1-3.jpg'
    ]
%}
{%
    set contactsGallery2 = [
        'contacts-2-1.jpg', 'contacts-2-2.jpg', 'contacts-2-3.jpg'
]
%}
{%
    set contactsGallery3 = [
        'contacts-3-1.jpg', 'contacts-3-2.jpg', 'contacts-3-3.jpg'
    ]
%}
{%
    set contactsServices = [
        'Диагностика','Кузовной ремонт','Ремонт','ТО','Доп. оборудование'
    ]
%}

<section class="contacts" data-element="contacts" id="contacts" data-role="anchor-section">
    <div class="container">
        <h2 class="contacts__title title">Сервисы по ремонту Geely в Москве</h2>
        <div class="contacts__area">
            <div class="contacts__list">
                <div class="contacts__item contacts__item_active" data-element="contacts__item" data-index="0"
                    data-coords="[55.770152, 37.344188]" data-map-caption="Крылатское, ЗАО">
                    <div class="contacts__name">
                        <svg class="contacts__icon" width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.3168 23.6637L27.2064 0.435547L19.5 14.0141L11.8248 0.435547L2.6832 23.6637H0V27.1841H13.7904V23.6637H11.7312L13.728 17.8802L19.5 27.4355L25.272 17.8802L27.2688 23.6637H25.2096V27.1841H39V23.6637H36.3168Z" fill="#004FA4"/>
                        </svg>
                        Крылатское, ЗАО
                    </div>
                    <div class="contacts__address">Москва, Рублевское шоссе, 151, к.3, с.18</div>
                    <div class="contacts__dropdown">
                        <div class="contacts__info">
                            <a href="tel:+74951501655" class="contacts__info-item">+7 (495) 150-16-55</a>
                            <div class="contacts__info-item">с 9:00 до 21:00, без выходных</div>
                        </div>
                        <ul class="contacts__services">
                            {% for item in contactsServices %}
                                <li class="contacts__services-item">{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="contacts__box contacts__box_active" data-element="contacts__box">
                    <div class="contacts__map" data-element="contacts__map" id="contacts__map-1" data-coords-center="[55.770152, 37.344188]"></div>
                    <div class="contacts__gallery-wrap">
                        <div class= "contacts__gallery">
                            {% for image in contactsGallery1 %}
                                <picture class="contacts__gallery-picture">
                                    <img src="/assets/img/contacts/{{ image }}" alt="" class="contacts__gallery-image">
                                </picture>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="contacts__item" data-element="contacts__item" data-coords="[55.720170, 37.716082]" data-index="1"
                    data-map-caption="Волгоградский проспект, ЮВАО">
                    <div class="contacts__name">
                        <svg class="contacts__icon" width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.3168 23.6637L27.2064 0.435547L19.5 14.0141L11.8248 0.435547L2.6832 23.6637H0V27.1841H13.7904V23.6637H11.7312L13.728 17.8802L19.5 27.4355L25.272 17.8802L27.2688 23.6637H25.2096V27.1841H39V23.6637H36.3168Z" fill="#B81190"/>
                        </svg>
                        Волгоградский проспект, ЮВАО
                    </div>
                    <div class="contacts__address">Остаповский проезд, 11, с.1</div>
                    <div class="contacts__dropdown">
                        <div class="contacts__info">
                            <a href="tel:+74951501655" class="contacts__info-item">+7 (495) 150-16-55</a>
                            <div class="contacts__info-item">с 9:00 до 21:00, без выходных</div>
                        </div>
                        <ul class="contacts__services">
                            {% for item in contactsServices %}
                                <li class="contacts__services-item">{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="contacts__box" data-element="contacts__box">
                    <div class="contacts__map" data-element="contacts__map" id="contacts__map-2" data-coords-center="[55.720170, 37.716082]"></div>
                    <div class="contacts__gallery-wrap">
                        <div class="contacts__gallery">
                            {% for image in contactsGallery2 %}
                                <picture class="contacts__gallery-picture">
                                    <img src="/assets/img/contacts/{{ image }}" alt="" class="contacts__gallery-image">
                                </picture>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="contacts__item" data-element="contacts__item" data-coords="[55.857159, 37.580993]" data-index="2"
                    data-map-caption="Владыкино, СВАО">
                    <div class="contacts__name">
                        <svg class="contacts__icon" width="39" height="28" viewBox="0 0 39 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.3168 23.6637L27.2064 0.435547L19.5 14.0141L11.8248 0.435547L2.6832 23.6637H0V27.1841H13.7904V23.6637H11.7312L13.728 17.8802L19.5 27.4355L25.272 17.8802L27.2688 23.6637H25.2096V27.1841H39V23.6637H36.3168Z" fill="#858693"/>
                        </svg>
                        Владыкино, СВАО
                    </div>
                    <div class="contacts__address">Алтуфьевское шоссе, 27А, с.2</div>
                    <div class="contacts__dropdown">
                        <div class="contacts__info">
                            <a href="tel:+74951501655" class="contacts__info-item">+7 (495) 150-16-55</a>
                            <div class="contacts__info-item">с 9:00 до 21:00, без выходных</div>
                        </div>
                        <ul class="contacts__services">
                            {% for item in contactsServices %}
                                <li class="contacts__services-item">{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="contacts__box" data-element="contacts__box">
                    <div class="contacts__map" data-element="contacts__map" id="contacts__map-3" data-coords-center="[55.857159, 37.580993]"></div>
                    <div class="contacts__gallery-wrap">
                        <div class="contacts__gallery">
                            {% for image in contactsGallery3 %}
                                <picture class="contacts__gallery-picture">
                                    <img src="/assets/img/contacts/{{ image }}" alt="" class="contacts__gallery-image">
                                </picture>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
